@font-face {
  font-family: 'Hatton';
  src: url('../../fonts/Hatton-Regular.woff2') format('woff2'),
    url('../../fonts/Hatton-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Basier Circle';
  src: url('../../fonts/BasierCircle-RegularItalic.woff2') format('woff2'),
    url('../../fonts/BasierCircle-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Basier Circle';
  src: url('../../fonts/BasierCircle-Regular.woff2') format('woff2'),
    url('../../fonts/BasierCircle-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hatton';
  src: url('../../fonts/Hatton-Bold.woff2') format('woff2'),
    url('../../fonts/Hatton-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Basier Circle';
  src: url('../../fonts/BasierCircle-SemiBold.woff2') format('woff2'),
    url('../../fonts/BasierCircle-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Basier Circle';
  src: url('../../fonts/BasierCircle-Medium.woff2') format('woff2'),
    url('../../fonts/BasierCircle-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hatton';
  src: url('../../fonts/Hatton-Medium.woff2') format('woff2'),
    url('../../fonts/Hatton-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hatton';
  src: url('../../fonts/Hatton-Semibold.woff2') format('woff2'),
    url('../../fonts/Hatton-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
