.VerticalCard {
  max-width: 320px;
  width: 100%;
  height: 456px;
  background: $white;
  position: relative;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.03);
  margin: 0 auto;

  &.no-price {
    .VerticalCard-title {
      min-height: 60px;
    }
  }
}

.VerticalCard-image {
  width: 100%;
  height: 180px;
}

.VerticalCard-content {
  text-align: left;
  padding: 25px 30px;
}

.VerticalCard-title {
  font-family: $title-font;
  color: $darkBlue;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 5px;
}

.VerticalCard-desc {
  max-height: 63px;
}

.VerticalCard-price {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.VerticalCard-priceStart {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: $gold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  white-space: nowrap;
  width: 100%;
  margin: 20px 0 5px 0;

  &::after {
    @include pseudo();
    width: 100%;
    height: 1px;
    background: #e8e8e8;
    margin-left: 20px;
  }
}

.VerticalCard-pricePrevious {
  font-size: 32px;
  line-height: 38px;
  color: $darkBlue;
  margin-right: auto;
  justify-self: flex-start;
  text-decoration: line-through;
}

.VerticalCard-priceCurrent {
  font-weight: 500;
  font-size: 42px;
  line-height: 50px;
  color: $gold;
  display: flex;
  margin-right: auto;
  align-items: center;

  small {
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    max-width: 60px;
    margin-left: 14px;
    font-family: $text-font;
  }

  &.center {
    margin: 0 auto;
  }
}

.VerticalCard-button {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
