.u-before1of10 {
  margin-left: 10%;
}

.u-before1of12 {
  margin-left: 8.33% !important;
}

.u-before2of12 {
  margin-left: 16.66% !important;
}

.u-before3of12 {
  margin-left: 25% !important;
}

.u-before1of20 {
  margin-left: 5%;
}

// md

@include media('>medium') {
  .u-md-before1of12 {
    margin-left: 8.33% !important;
  }

  .u-md-before2of12 {
    margin-left: 16.66% !important;
  }

  .u-md-before3of12 {
    margin-left: 25% !important;
  }
}
